.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    padding:5px;
    color: rgb(130, 97, 248);
    font-size: 36px;
   
    

}

.nav-links {
    text-decoration: none;
    color: rgb(130, 97, 248);

}

/* .position {
    position: fixed;
} */