.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    padding:2px;
    font-size: 36px;

}

.nav-links {
    text-decoration: none;
    color: rgb(200, 189, 241);
    width: 300px;

}

.nav-links:hover {
    color: rgb(239, 237, 243);

}

.nav-left {
    text-align: left;

}

.nav-center {
    text-align: center;

}

.nav-right {
    text-align: right;

}